@import '../ui/Base';

.form-checklist-checkbox ~ .form-label-redeemable {
    &:hover {
        cursor: default;
    }

    &::before,
    &::after {
        content: none;
    }
}

.redeemable {
    display: table;
    padding: spacing("single");
    padding: 0;
    width: 100%;
}

.redeemable-column {
    display: table-cell;
}

.redeemable-actions {
    vertical-align: middle;
}

.redeemable-action,
.redeemable-info {
    line-height: lineHeight("base");
}

.redeemable-entry {
    margin-top: spacing("half");
}

.redeemable-info-header {
    display: block;
    margin-bottom: spacing("sixth");
}

.redeemable-info-header--highlight {
    font-weight: fontWeight("semibold");
}

.redeemable-info-subHeader {
    color: color("greys");
    font-size: fontSize("smallest");
    line-height: lineHeight("smallest");
}

.redeemable-info-subHeader--remaining {
    display: block;
}

.redeemable-remove-action {
    @include square(22px);

    &:hover svg {
        fill: color("primary");
    }
}

.redeemable-label {
    margin-top: spacing("base");
}

.redeemable-payments {
    @include breakpoint("large") {
        display: none;
    }
}

.checkout-notifications {
    .notification {
        border-radius: 0.4rem;
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        padding: 1rem;
        position: relative;
        transition: 0.5s opacity;
        width: 100%;

        &::before {
            content: '';
            display: block;
            height: 2rem;
            left: 1.5rem;
            position: absolute;
            width: 2rem;
        }

        .notification__content {
            display: flex;
            flex-direction: column;
            padding: 0 2rem 0 3rem;

            p {
                color: #444;
                font-weight: 400;
                margin: 0;

                i {
                    font-style: italic;
                }
            }
        }
    }

    .notification--info {
        background: #e6f2f7;

        &::before {
            background: url("https://cdn.instasmile.com/new-website/images/icon-info-blue-24.svg") center no-repeat;
        }
    }
}
