// =============================================================================
// CHECKOUT LAYOUTS
//
// 1. Needed to overwrite the element-level styles applied by sticky directive
// =============================================================================

.layout {
    @include grid-row;

    min-height: remCalc(200px);
    padding: 0 spacing("single") spacing("single");

    @include breakpoint("large") {
        padding-bottom: spacing("single");
    }
}

.layout-cart {
    @include grid-column($columns: 12);

    @include breakpoint("large") {
        width: grid-calc(5, $total-columns);
    }

    @include breakpoint("xlarge") {
        width: grid-calc(4, $total-columns);
    }

    &.is-sticky {
        position: sticky;
        top: 0;
    }
}

.layout-main {
    @include grid-column(12);

    @include breakpoint("large") {
        width: grid-calc(7, $total-columns);
    }

    @include breakpoint("xlarge") {
        width: grid-calc(8, $total-columns);
    }

    @include breakpoint("xlarge") {
        padding-right: spacing("double") * 2;
    }
}

@media print {
    @page {
        margin: spacing("single") 0;
        size: auto;
    }

    .layout-cart {
        display: block;
        float: none;
        page-break-inside: auto;
        // scss-lint:disable ImportantRule
        position: static !important; // 1
        // scss-lint:enable ImportantRule
        width: $printLayout-widthFixed;
    }

    .layout-main {
        float: none;
        width: $printLayout-widthFixed;
    }
}

@media (max-width: 500px) {
    .shippedKit,
    .continueButtonContainer {
        display: block !important;

        p,
        div,
        form,
        button {
            width: 100% !important;
        }
    }
}

.iconShipping {
    background: url("../static/svg/icon-shipping.svg") no-repeat center center;
    font-weight: 900;
    height: 62px;
    width: 20%;
}

.iconLock {
    background: url("../static/svg/lock.svg") no-repeat center center;
    height: 2rem;
    margin-right: 0.5rem;
    opacity: 0.5;
    width: 2rem;
}

#checkout-app {
    background-color: #f0f1f5;
}

.remove-checkout-step-numbers {
    background-color: white;
}

.continueButtonContainer form:last-of-type button {
    background-color: transparent !important;
    border: 2px solid #14181e;
    border-color: black !important;
    color: #14181e !important;
}

.show-mobile {
    display: block;
}

@media (min-width: 968px) {
    .show-mobile {
        display: none;
    }
}

.show-desktop {
    display: none;
}

@media (min-width: 968px) {
    .show-desktop {
        display: block;
    }
}

.smile-step-clmn-1,
.smile-step-clmn-2 {
    padding-right: 20px;
}

.smile-step-title h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

.smile-step-text-over-1 {
    background-image: url("https://cdn.instasmile.com/new-website/images/stepblock1-new.jpg");
}

.smile-step-text-over-2 {
    background-image: url("https://cdn.instasmile.com/new-website/images/stepblock2-new.jpg");
}

.smile-step-text-over-3 {
    background-image: url("https://cdn.instasmile.com/new-website/images/stepblock3.jpg");
}

.smile-step-text-over {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 280px;
    height: 280px;
    overflow: hidden;
    position: relative;
}

.smile-step-details {
    padding-top: 25px;
    text-align: center;
}

.smile-step-details a {
    color: #007bff;
    text-decoration: none;
}

.smile-step-details a:hover {
    color: #007bff;
    text-decoration: underline;
}

@media (max-width: 991px) {
    .check-smile-step-clmn {
        margin: auto;
        max-width: 450px;
    }
}
