// =============================================================================
// PAYMENT PROVIDER (Component)
// =============================================================================
.paymentProviderHeader-container {
    align-items: start;
    display: flex;
    justify-content: space-between;
}

.paymentProviderHeader-container-googlePay {
    align-items: center;
}

.paymentProviderHeader-subtitleContainer {
    flex-basis: 100%;
}

.paymentProviderHeader-nameContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.paymentProviderHeader-img {
    align-self: center;
    display: flex;
    height: fontSize("large");
    object-fit: contain;

    + .paymentProviderHeader-name {
        margin-left: spacing("half");
        white-space: nowrap;
    }
}

.paymentProviderHeader-img-applePay {
    height: fontSize("larger");
    margin-top: spacing("eighth");
    margin-left: spacing("quarter");
}

.paymentProviderHeader-img-googlePay {
    height: fontSize("larger");
}

.googlePay-logo {
    height: remCalc(40px);
}

.paymentProviderHeader-cc {
    @include breakpoint("small") {
        align-items: flex-end;
        display: flex;
        flex-grow: 0;
        flex-shrink: 2;
    }
}

.paymentProviderHeader-name {
    align-items: flex-end;
    align-self: start;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}

.paymentMethod--creditCard,
.paymentMethod--hosted,
.paymentMethod--walletButton,
.paymentMethod--offline {
    clear: both;
    padding: $payment-step-spacing-top 0;
}

// KLUDGE: We need this override when Klarna modal is open because
// `scroll-behavior: smooth` conflicts with the styles injected by Klarna JS,
// cropping the content of the modal in Firefox as a result.
body.klarna-payments-fso-open {
    scroll-behavior: auto;
}

.stripe-sepa-mandate-disclaimer {
    margin-bottom: 0;
    padding-bottom: remCalc(20px);
}

#stripe-card-field--invalid {
    border-color: #fa755a;
}

#stripe-card-field--webkit-autofill {
    background-color: #fefde5 !important;
}

.submitButtonContainer {
    margin-left: 0;
    width: 100%;
}

.checkoutcom-sepa-column-container {
    display: flex;
    flex: 1;
    flex-basis: 100%;
    flex-direction: row;
    margin-bottom: 0;
    padding-bottom: remCalc(5px);
}

.checkoutcom-sepa-column-content {
    width: 50%;
}

.checkoutcom-sepa-title {
    margin-bottom: 0;
    padding-bottom: remCalc(5px);
}

.checkoutcom-sepa-line {
    margin-bottom: 0;
}

/* Custom payment submit buttons styles */
.payment-submit-button-bolt {
    font-size: 16px;
}

.payment-submit-button-bolt-icon {
    height: remCalc(12px);
    margin-right: remCalc(8px);
    width: remCalc(12px);
}

.list-element {
    list-style-type: none;
    padding: 0 !important;

    li {
        padding-bottom: 12px;
    }

    .circleCheck {
        background: url("../static/svg/circle-check-solid.svg") no-repeat center center;
        display: inline-block;
        font-weight: 900;
        height: 15px;
        margin-left: -1.5em;
        margin-right: 0.5em;
        width: 15px;
    }
}

.paymentMethod {
    h3,
    .list-element {
        margin-bottom: 1.5rem;
    }

    p,
    li {
        font-size: 15px;
    }
}

#stripeIconImg,
#nmiIconImg {
    width: 50%;

    @media (max-width: 500px) {
        width: 100%;
    }
}

#cod,
#pay_later,
#pay_over_time,
#pay_by_installment,
#quadpay {
    height: 3rem !important;
}

#paypalcommerceSecondIcon{
    height: 4rem!important;
}

@media (max-width: $screen-large) {
    .checkout-notifications.merchant{
        display: none;
    }
}